{% extends '::base.html.twig' %}
{% block title %}Indecopi{% endblock %}
{% block body %}

<header>
 <nav class="navbar navbar-expand-lg navbar-light navbar-bgColor fixed-top">
  <a class="navbar-brand text-white" href="#"><img src="../img/logo_indecopi_chiqui.png" width="120" height="38" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white"  id="liInicio" href="{{url('indecopi_homepage')}}">Inicio <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>

</header>

<section >

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container">
  
  <div class="row">    
    <div class="container-cardLogin col-12 col-sm-10 col-md-6 col-lg-6 col-xl-5 ">
        
      <div class="card w-100" style="background-color: #FFFFFF">

        <div class="card-body">

            <div class="panel-heading">
              <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                  <a href="#" class="active" id="login-form-link">Inicia Sesión</a>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                  <a href="#"  id="register-form-link">Regístrate</a>
                </div>
              </div>
              <hr>
            </div>

          <form role="form" action="{{ path('prueba_login') }}" method="post">
            <div class="container-login-view">
              <div class="form-group">
                <label for="usuario-log">Usuario</label>
                <input class="form-control" placeholder="Username" autofocus type="text" id="username" name="_username" value="{{ last_username }}" />
                
              </div>
              <div class="form-group">
                <label for="password-log">Contraseña</label>
                <input  class="form-control" placeholder="Password" type="password" id="password" name="_password" />
              </div>
              <br>
              <button  type="submit" class="btn btn-primary">Ingresar</button>
            </div>
          </form>

            <div class="container-register-view-1" style="display: none;">
              <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" aria-describedby="emailHelp" placeholder="Ingresar DNI">
                
              </div>

              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingresar Contraseña">
              </div>

              <div class="form-group">
                <label for="apellidoPaterno">Apellido Paterno</label>
                <input type="text" class="form-control" id="apellidoPaterno" placeholder="Ingresar apellido paterno">
              </div>

              <div class="form-group">
                <label for="apellidoMaterno">Apellido Materno</label>
                <input type="text" class="form-control" id="apellidoMaterno" placeholder="Ingresar apellido materno ">
              </div>

              <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" class="form-control" id="correo" placeholder="Ingresar correo ">
              </div>
              <br>
              <div class="form-group btn-after-before">
                <button  class="btn btn-success" id="siguiente-register-1"> Siguiente </button>
              </div>
                
            </div>

          <div class="container-register-view-2" style="display: none;">
              <div class="form-group">
                <label for="departamento">Departamento</label>
                <select class="form-control" id="departamento">
                  <option>--Selecionar--</option>
                  <option>Lima</option>
                  <option>Callao</option>
                </select>
              </div>

              <div class="form-group">
                <label for="provincia">Provincia</label>
                <select class="form-control" id="provincia">
                  <option>--Selecionar--</option>
                  <option>Lima</option>
                  <option>Callao</option>
                </select>
              </div>

              <div class="form-group">
                <label for="distrito">Distrito</label>
                <select class="form-control" id="distrito" >
                  <option value="">--Selecionar--</option>
                  <option value="1">El agustino</option>
                  <option value="1">Callao</option>
                </select>
              </div>

              <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="number" class="form-control" id="telefono" placeholder="Ingresar Contraseña ...">
              </div>

              <div class="form-group">
                <label for="fechaNacimiento">Fecha Nacimiento</label>
                <input type="date" class="form-control" id="fechaNacimiento" placeholder="Ingresar Contraseña ...">
              </div>
              <div class="form-group btn-after-before">
                <button  class="btn btn-success" id="anterior-register-2"> Anterior </button>
                <button  class="btn btn-success" id="siguiente-register-2"> Siguiente </button>
              </div>
            </div>

          <div class="container-register-view-3" style="display: none;">
              <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" class="form-control" id="usuarioReg" placeholder="Ingresar Contraseña ...">
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="passwordReg" placeholder="Ingresar Contraseña ...">
              </div>

              <div class="form-group">
                <label for="password">Confirmar Password</label>
                <input type="password" class="form-control" id="plainpasswordReg" placeholder="Repetir Contraseña ...">
              </div>

              <div class="form-group btn-after-before">
                <button  class="btn btn-success" id="anterior-register-3"> Anterior </button>
                <button  class="btn btn-primary" id="registrar-form"> Registrar </button>
              </div>
            </div>
        </div>
      </div>
  </div>
  </div>
</div>  

</section>
<footer class="footer" style="background-color:black;">     <div class="container">         <div class="row" style="display:flex; align-items:center; justify-content:space-between; ">                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center" style="padding-top:50px;">                 <p style="font-size:12px;">SEDE CENTRAL LIMA SUR: Calle de la Prosa 104, San Borja. </p>                 <p style="font-size:12px;">SEDE LIMA NORTE: Av. Carlos Izaguirre 988, Urb. Las Palmeras, Los Olivos.<br>                 E-mail:  consultas@indecopi.gob.pe</p>             </div>                            <img src="{{ asset('assets/images/logo.png') }}" width="290" height="40" >                                   </div>         <br>         <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">&copy; 2018 Todos los derechos reservados</p>     </div> </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../js/login.js"></script>

{% endblock %}